html,body 
{
    height: 100%;
}
.opacity-translation {
    opacity: 0;
    transition: opacity 2s ease;
}
.cursor-select{
    cursor: pointer;
}
.bg-orange {
    background-color: orange !important;
}
.bg-purple {
background-color: purple !important;
}
   

/* .focus-transition{
    transition: transform 0.3s ease-in-out;
} */
.focus-transition:hover  {
    transition: transform 0.5s ease-in-out !important; 
    transform: scale(1.1) !important;
}